*.zip
*.xls
*.ppt
*.m~
*.exe
*.jar
!VARNA*.jar
*.txt
*.ppt*
*.log
.dropbox
.metadata/
.DS_Store
PDBFiles
PrecomputedData
JAR3D
Alignments
Pictures
Motifs
MutationRates
NIH*/
2011 SCFG MRF motif talk and article
Data
MutationRatesDoc
ParserDoc
Pattern Matching
Triple clashes
Zirbel meetings with students
Motif library paper
Secondary structures
FR3DSourceDoc
FR3DDevelopmentDoc
documentation.html
documentation.html~
TripleCoplanarDataSearch.mat
SearchDB
MotifAtlas