[submodule "FR3D"]
	path = FR3D
	url = git@github.com:BGSU-RNA/FR3D.git
[submodule "pdbx"]
	path = pdbx
	url = git@github.com:BGSU-RNA/pdbx.git
[submodule "UnitIdTranslation"]
	path = UnitIdTranslation
	url = git@github.com:BGSU-RNA/UnitIdTranslation.git
