# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.pyc
*.cfg

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Folders to ignore
.hg
.svn
publish
.idea

# project specific
*.m~
.python-version
.agignore
todo.txt
.tasks

GTAGS
GPATH
GRTAGS
conf/*.json
data/
logs/
tags
.opengrok/
cache/
ss-diagrams/
