# Numerous always-ignore extensions
*.cfg
*.diff
*.err
*.log
*.orig
*.preserve
*.pyc
*.rej
*.swo
*.swp
*.vi
*~
*.gz
*.sh
*.pickle

*.gz
*.sh
*.jar
*.pickle

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Folders to ignore
.hg
.idea
.svn
publish
munge

# project specific
*.m~
.python-version
.agignore
todo.txt
.tasks
.envrc
.direnv/
munge/
report-files/

GTAGS
GPATH
GRTAGS
conf/*.json
data/
logs/
tags
.opengrok/
cache/
ss-diagrams/

docs/build/*
default.nix

# temporary files
pymotifs/export/pairFileParsing.py
pymotifs/loops/add_new_sequence.py
