MySQL-python==1.2.5
SQLAlchemy==0.9.4
argparse==1.1
biopython==1.66
click==6.2
-e git+git@github.com:BGSU-RNA/fr3d-python.git@f79c7e21645bb0330dc0c207cce8fa44c90ee6a3#egg=fr3d-origin/develop
mailer==0.8.1
mlabwrap==1.1
numpy==1.10.1
py==1.10.0
pytest==2.9.1
requests==1.1.0
stevedore==0.15
virtualenv==1.11.4
virtualenv-clone==0.2.5
virtualenvwrapper==4.2
wsgiref==0.1.2
